/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa; /* Ajusta el color de fondo según tu diseño */
  padding: 10px; /* Ajusta el relleno según tus necesidades */
}
